@{
    ViewBag.Title = "Home Page";
}
@model MVCExam.Web.Models.HomeViewModel


<div class="row">
    <div class="col-md-6 col-lg-6 col-sm-6">
        @if (Model.TopMatches != null)
        {
            foreach (var match in Model.TopMatches)
            {
                <div>@Html.Partial("TopMatch", match)</div>
            }
        }
    </div>
    <div class="col-md-6 col-lg-6 col-sm-6">
        @if(Model.TopMatches != null)
        {
            foreach(var team in Model.TopTeams)
            {
                <div>@Html.Partial("TopTeam", team)</div>
            }
        }
    </div>
    <button class="btn btn-danger"> @Html.ActionLink( "See All Matches" , "Index" , "Match" )</button>
</div>